*{
	padding:0;
	margin:0;
}
body{

	margin-left: 0;
	padding-bottom: 124px;
	background-color: rgb(302,142,137);

}

div{
	box-sizing:border-box;
}

div.link{
	width:100%;
	height: 50px;
	line-height:50px;
	display: flex;
	justify-content:center;
	margin:0 auto 10px auto;
	text-align: center;
	background-color: rgba(0,0,0, 0.5);
	font-family: courier;
	font-size: 15px;
	
}

div.link p{
	width:20%;
	margin:0;
	color:white;
	transition:background-color 0.2s;
}

div.link p:hover{
	background-color:rgba(0,0,0,0.6);
}

div p#saldo{
	font-size:1.5em;
	color:rgb(302,142,137);
	font-weight:bolder;
}

div.link p a{
	font-size:1.3em;
	text-decoration:none;
	color: white;
}
header{
	width:100%;
}
p.header{
	width: 100%;
	height: 100px;
	line-height:100px;
	display: block;
	background-color:white;
	text-align: center;
	font-family: courier;
	font-size: 3em;
	font-weight: bolder;
	color: rgb(302,142,137);
}

h1.index{
	width: 450px;
	height: 100px;
	display: block;
	margin: 50px auto;
	text-align: center;
	padding: 10px;
	font-family: courier;
	font-size: 50px;
	color: white;
}

div.form{
	width: 50%;
	height: 310px;
	display: block;
	margin: 50px auto;
	box-shadow: 0px 0px 10px 5px rgb(150,150,150);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: courier;
	font-size: 15px;
	color: black;
}*/

.autentica{
	border: 1px solid rgb (228,224,226);
	width: 250px;
	height: 120px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

.trans2{
	border: 1px solid rgb (228,224,226);
	width: 250px;
	height: 200px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

.dep{
	border: 1px solid rgb (228,224,226);
	width: 250px;
	height: 200px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

.menu{
	border: 1px solid rgb(159,160,170);
	padding: 5px;
	width: 50%;
	height: 30px;
	font-size: 15px;
	background-color: white;
	border-radius: 5px;
	margin: auto;
}

.trans{
	border: 1px solid rgb (228,224,226);
	width: 290px;
	height: 380px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

nav {
    border: 1px solid rgb(159,160,170);
	padding: 5px;
	width: 200px;
	text-align: center;
	font-size: 15px;
	background-color: white;
	border-radius: 5px;
	margin: auto;
	font-family: Courier;
}

div h1{
	color: black;
	font-family: Courier;
	text-align: left;
	border-bottom: 1px solid black;
	font-size: 20px;
	padding: 5px;
}



input{
	border: 1px solid rgb(159,160,170);
	padding: 5px;
	width: 70%;
	font-size: 15px;
	background-color: rgb(228,224,226);
	margin-bottom: 10px;
	margin: 10px auto;
}

input[type = submit], input[type = reset]{
	border-radius: 5px;
	color: #fff;
	width: 35%;
	padding: 8px;
	margin: 18px auto;
}

input[type = submit]{
	background-color: rgb(94,154,255);
}

input[type = reset]{
	background-color: rgb(244,91,115);
}

footer{

	font-family: Courier;
	font-weight: bold;
	bottom: 0;
	background-color: rgba(400,150,24,0.4);
	height: 50px;
	width: 100%;
	text-align: center;
	margin-left: 0;
	color: white;
	position: fixed;
	bottom: 0px;

}
