
body{

	margin-left: 0;
	padding-bottom: 124px;

}

div.link{
	border: 1px solid black;
	height: 20px;
	display: block;
	margin: 10px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: courier;
	font-size: 15px;
	color: black;
}

p.header{
	width: 400px;
	height: 50px;
	display: block;
	text-align: center;
	padding: 5px;
	font-family: courier;
	font-size: 29px;
	font-weight: bolder;
	color: white;
}

h1.index{
	width: 450px;
	height: 100px;
	display: block;
	margin: 50px auto;
	text-align: center;
	padding: 10px;
	font-family: courier;
	font-size: 50px;
	color: white;
}

div{
	border: 1px solid black;
	width: 600px;
	height: 310px;
	display: block;
	margin: 50px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: courier;
	font-size: 15px;
	color: black;
}

.autentica{
	border: 1px solid rgb (228,224,226);
	width: 250px;
	height: 120px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

.trans2{
	border: 1px solid rgb (228,224,226);
	width: 250px;
	height: 200px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

.dep{
	border: 1px solid rgb (228,224,226);
	width: 250px;
	height: 200px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

header{
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
}

.menu{
	border: 1px solid rgb(159,160,170);
	padding: 5px;
	width: 50%;
	height: 30px;
	font-size: 15px;
	background-color: white;
	border-radius: 5px;
	margin: auto;
}

.trans{
	border: 1px solid rgb (228,224,226);
	width: 290px;
	height: 380px;
	display: block;
	margin: 150px auto;
	box-shadow: 0px 0px 10px 5px rgb(192,184,187);
	text-align: center;
	padding: 10px;
	background-color: rgb(228,224,226);
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: black;
}

nav {
    border: 1px solid rgb(159,160,170);
	padding: 5px;
	width: 200px;
	text-align: center;
	font-size: 15px;
	background-color: white;
	border-radius: 5px;
	margin: auto;
	font-family: Courier;
}

div h1{
	color: black;
	font-family: Courier;
	text-align: left;
	border-bottom: 1px solid black;
	font-size: 20px;
	padding: 5px;
}

input{
	border: 1px solid rgb(159,160,170);
	padding: 5px;
	width: 70%;
	font-size: 15px;
	background-color: rgb(228,224,226);
	margin-bottom: 10px;
	margin: 10px auto;
}

input[type = submit], input[type = reset]{
	border-radius: 5px;
	color: #fff;
	width: 35%;
	padding: 8px;
	margin: 18px auto;
}

input[type = submit]{
	background-color: rgb(94,154,255);
}

input[type = reset]{
	background-color: rgb(244,91,115);
}
body{
	background-color: rgb(302,142,137);
}

footer{

	font-family: Courier;
	font-weight: bold;
	bottom: 0;
	background-color: rgba(400,150,24,0.4);
	max-height: 250px;
	width: 100%;
	text-align: center;
	margin-left: 0;
	color: white;
	position: fixed;
	bottom: 20px;

}
